#place in /etc/udev/rules.d/99-nexus-gamepad-uinput.rules

#Run uinput program
ACTION=="add", KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="ASUS Gamepad", RUN+="/bin/sh /home/pi/nexus_gamepad_uinput/nexus_gamepad_uinput.sh %n"

#Remove all joysticks related to this device
ACTION=="add", KERNEL=="js[0-9]*", ATTRS{name}=="ASUS Gamepad", RUN+="/bin/rm /dev/input/js%n"
